[submodule "libraries/Seeed_Arduino_LSM6DS3"]
	path = libraries/Seeed_Arduino_LSM6DS3
	url = git@github.com:Seeed-Studio/Seeed_Arduino_LSM6DS3.git
[submodule "libraries/Seeed_Arduino_rpcUnified"]
	path = libraries/Seeed_Arduino_rpcUnified
	url = git@github.com:frederich-stine/Seeed_Arduino_rpcUnified.git
[submodule "libraries/Seeed_Arduino_rpcBLE"]
	path = libraries/Seeed_Arduino_rpcBLE
	url = git@github.com:Seeed-Studio/Seeed_Arduino_rpcBLE.git
[submodule "libraries/Seeed_Arduino_AHT20"]
	path = libraries/Seeed_Arduino_AHT20
	url = git@github.com:Seeed-Studio/Seeed_Arduino_AHT20.git
[submodule "libraries/Seeed_Arduino_FS"]
	path = libraries/Seeed_Arduino_FS
	url = git@github.com:Seeed-Studio/Seeed_Arduino_FS.git
[submodule "libraries/Seeed_Arduino_Sketchbook"]
	path = libraries/Seeed_Arduino_Sketchbook
	url = git@github.com:Seeed-Studio/Seeed_Arduino_Sketchbook.git
[submodule "libraries/TinyGPSPlus"]
	path = libraries/TinyGPSPlus
	url = git@github.com:mikalhart/TinyGPSPlus.git
